.main-container{
    background-color: #f9f9f9;
}


.introduce-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.introduce-content-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.introduce-content-img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.introduce-content-text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.image-box{
    width: 60%;
    height: 100%;
}

section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    display: inline-block;
}

section p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    font-size: 1.1rem;
    color: #333;
    padding: 10px 0;
    position: relative;
    padding-left: 25px;
}

section ul li::before {
    content: "\2022";
    color: #4CAF50;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 0;
}